<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SmevService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=tfoms-cod.tfoms.local;database=medReestr;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <SmevService.Properties.Settings>
      <setting name="RABBIT_SERVER" serializeAs="String">
        <value />
      </setting>
      <setting name="RABBIT_USER" serializeAs="String">
        <value />
      </setting>
      <setting name="STORAGE_FOLDER" serializeAs="String">
        <value>M:\SMEV_OUT</value>
      </setting>
      <setting name="THREADS_COUNT" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RABBIT_PASS" serializeAs="String">
        <value />
      </setting>
      <setting name="MAX_ITERATIONS" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="WAITING_MIN" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RECIEVE_REQUEST_TIMER" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="SMEV_FOLDER" serializeAs="String">
        <value>M:\SMEV</value>
      </setting>
      <setting name="RECIEVE_RESPONSE_TIMER" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="SEND_TIMER" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="PROXY_ADDRESS" serializeAs="String">
        <value />
      </setting>
      <setting name="SERIAL_NUMBER" serializeAs="String">
        <value />
      </setting>
      <setting name="IS_PRODUCTIVE_AREA" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SCHEMA_NUMBER" serializeAs="String">
        <value>1.2</value>
      </setting>
    </SmevService.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>